body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

/* Form Container */
.form-container {
    width: 320px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.form-container button:hover {
    background: #2980b9;
}

.form-container a {
    color: #3498db;
    text-decoration: none;
}
/* ================= NAVBAR ================= */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    color: white;
}

.navbar h1 {
    color: white;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.3s;
}

.navbar a:hover {
    background: rgba(255,255,255,0.2);
}
/* BUTTONS */
.book-btn {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    width: 100%;
    margin-top: 5px;
}

.wishlist-btn {
    background: linear-gradient(to right, #f7971e, #ffd200);
    width: 100%;
}